<div class="container">
    <div class="row d-flexjustify justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-3 mb-2">
        <h2 class="h2">All Books List</h2>        
    </div>
    <div class="responsive">
        <table class="table table-bordered" style="border-width: 2px;">
            <thead>
                <th scope=""col>ID</th>
                <th scope=""col>Name</th>
                <th scope=""col>Price</th>
                <th scope=""col>Description</th>
                <th class="text-center" scope="col">Action</th>
            </thead>

            <tbody>
                <tr *ngFor = "let book of Books; let i = index">
                    <th scope="row">{{book._id}}</th>
                    <th scope="row">{{book.name}}</th>
                    <th scope="row">{{book.price}}</th>
                    <th scope="row">{{book.description}}</th>
                    <td class="text-center">
                        <button class="btn btn-sm btn-primary" routerLink="/edit-book/{{book._id}}">Edit</button>
                        <button class="btn btn-sm btn-danger" style="margin-left: 20px;" (click)="delete(book._id,1)">Delete</button>
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
</div>
