<div class="row justify-content-center mt-2" >
    <div class="col-md-5" style="font-weight: bold; color: rgb(40, 134, 165); font-size: 50px; text-align: center; text-decoration: solid; margin: 30px;float: right; margin-right: 100px;">
        Welcome to Bookstore!
        <div style="font-weight: bold; color: rgb(98, 119, 124); font-size: 30px; text-align: center; margin-top: 40px;">
            An arena to manage a store where you can Add, Edit and Update books you wish
        </div>
    </div>
    <img src="../../../assets/bookstore.jpg" style="max-height:350px;float: left;">
</div>